body {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    position: relative;
}

:root {
    --primary-color: #4CAF4F;
    --secondary-color: #263238;

    --success-color: #2E7D31;
    --info-color: #2194f3;
    --warning-color: #FBC02D;
    --danger-color: #E53835;

    --Tint1-color: #66BB69;
    --Tint2-color: #81C784;
    --Tint3-color: #A5D6A7;
    --Tint4-color: #C8E6C9;
    --Tint5-color: #E8F5E9;

    --Shade1-color: #43A046;
    --Shade2-color: #388E3B;
    --Shade3-color: #237D31;
    --Shade4-color: #1B5E1F;
    --Shade5-color: #103E13;

    --black-color: #263238;
    --d_grey-color: #4D4D4D;
    --grey-color: #717171;
    --l_grey-color: #89939E;
    --grey_blue-color: #ABBED1;
    --silver-color: #F5F7FA;
    --white-color: #FFFFFF;

    --fw-semiBold: 600;
    --fw-regular: 400;
    --fw-medium: 500;

    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;

    /* overflow-x: hidden; */
}

body {
    overflow-x: hidden;
}

/* start header */
header {
    width: 100%;
    height: 84px;
    background-color: var(--silver-color);
    padding: 0 5% !important;
}

header .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    max-width: 12%;
    min-width: 100px;
    height: 100%;
    user-select: none;
    display: flex;
    align-items: center;
}

header .container .logo a img {
    max-width: 100%;

    /* height: 24px; */
    user-select: none;
}

header .container .links {
    display: flex;
}

header .container ul.links li {
    list-style: none;
    margin-left: 50px;
    width: fit-content;
    height: 24px;
}

header .container ul.links li a:hover {
    text-decoration: underline;
}

header .container .login_signup {
    display: flex;
    height: 40px;
    gap: 20px;
    margin-left: 20px;
    align-items: center;
}

header .container .login_signup button {
    /* display: flex; */
    height: 100%;
    /* padding: 8px 16px; */
}

header .container .menu-icon {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2px;
    display: none;
}


header .container .menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--black-color);
}

@media (max-width: 1400px) {
    header .container ul.links li {
        margin-left: 25px;
    }
}

@media (max-width: 1200px) {
    header .container .menu-icon {
        display: flex;
        z-index: 1000;
        position: relative;
        transition: 0.5s;
    }

    header .container .menu-icon span {
        transition: 0.5s;
    }

    header .container .menu-icon.close-icon span {
        position: absolute;
        transform: rotateZ(45deg);
    }

    header .container .menu-icon.close-icon span:last-child {
        transform: rotateZ(135deg);
    }

    header .container ul.links {
        /* display: none; */
    }

    header .container ul.links {
        display: none;
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 0;
        background-color: var(--white-color);
        box-shadow: -2px 0 4px #ddd;
        width: 50%;
        height: 100vh;
        z-index: 1000;
        padding-top: 84px;
    }

    header .container ul.links.open {
        display: flex;
    }

    header .container ul.links li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-left: 0;

    }

    header .container ul.links li a {
        display: block;
        padding: 0 20px;
    }

    header .container ul.links li a:hover {
        background-color: hsla(0, 0%, 0%, 0.1);
    }

    header .container ul.links li a:active,
    header .container ul.links li a.active {
        background-color: hsla(0, 0%, 0%, 0.2);
    }
}

@media (max-width: 992px) {
    header .container .login_signup {
        display: flex;
        height: 30px;
        gap: 10px;
        margin-left: 20px;
    }

    header .container .login_signup button {
        /* display: flex; */
        height: 100%;
        padding: 8px 16px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    header .container .login_signup button {
        height: 20px;
        padding: 5px 10px;
        font-size: 10px;
    }

    header .container .menu-icon {
        width: 20px;
        height: 20px;
    }

    header .container .menu-icon span {
        height: 3px;
    }
}

/* end header */
/* start hero section */
.hero {
    background-color: var(--silver-color);
    width: 100%;
    min-height: 600px;
    padding: 96px 10%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .container {
    gap: 7%;
    align-items: center;
    justify-content: space-between;
}


.hero .container div {
    Width: fit-content;
    height: fit-content;
    text-align: start;
}

.hero .bulates {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 16px;
}

.hero .bulates span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 0.3;
}

.hero .bulates span.active {
    opacity: 1;
}

@media (max-width: 1400px) {
    .hero .content h1 {
        font-size: 48px;
    }

    .hero .content p {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .hero .container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .hero .container div.image {
        Width: 50%;
        height: fit-content;
        text-align: start;
    }

    .hero .container div.image img {
        max-width: 100%;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .hero .content h1 {
        font-size: 24px;
    }

    .hero .content p {
        font-size: 12px;
    }
}

/* end hero section */
/* start clients section */
.clients {
    width: 100%;
    min-height: 190px;
    padding-bottom: 15px;
}

.clients .container {
    flex-direction: column;
    align-items: center;
    position: relative;
}

.clients .container .content {
    text-align: center;
}

.clients .container .client_logos {
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
}

.clients .container .client_logos::-webkit-scrollbar-track {
    display: none;
}

.clients .container .control-btn {
    position: absolute;
    bottom: -10px;
    width: calc(100% + 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .container .control-btn button {
    width: 30px;
    border: none;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: var(--d_grey-color);
    /* height: ; */
}

.clients .container .control-btn button:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.clients .container .control-btn button:active {
    background-color: hsla(0, 0%, 0%, 0.2);
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

    .clients .container h2,
    .head2 {
        font-size: 28px;
    }

    .rg2-text {
        font-size: 14px;
    }

    .clients .container .client_logos {
        justify-content: center;
        gap: 30px;
        overflow-x: auto;
    }
}

@media (max-width: 576px) {}

/* end clients section */
/* start commuity section */
.community {
    width: 100%;
    /* height: 190px; */
}

.community .container {
    flex-direction: column;
    align-items: center;

}

.community .container h2 {
    text-align: center;
}

.community .container .cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 30px;
}

.community .container .cards .card {
    width: 300px;
    height: 280px;
    padding: 24px 16px;
    border-radius: 8px;
    box-shadow:
        0 2px 4px rgba(171, 190, 209, 0.2),
        0 0px 4px rgba(171, 190, 209, 0.2);
}

.community .container .cards .card .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    /* height: 280px; */
}

.community .container .cards .card .top h3 {
    text-align: center;
}


.community .container .cards .card .bottom {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 0 16px;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

/* end clients section */
/* start unlock section */
.unlock {
    width: 100%;

}

.unlock .container {
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.unlock .container div {
    width: fit-content;
    height: fit-content;
}

.unlock .container .content {
    padding-right: 10%;
    min-width: 600px;
    max-width: 800px;
}

.unlock .container .content h2,
.unlock .container .content p {
    max-width: 100%;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {

    .unlock .container .content {
        min-width: 400px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {

    .unlock .container .content {
        min-width: 240px;
    }

    /* 
    .unlock .container .content h2 {
        min-width: 240px;

    }

    .unlock .container .content p {
        min-width: 240px;
    } */
}

/* end unlock section */
/* start achievements section */
.achievements {
    width: 100%;
    background-color: var(--silver-color);
    padding-top: 64px;
    padding-bottom: 64px;
}

.achievements .container {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.achievements .container>div {
    width: 500px;
}

.achievements .container div.counts {
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    justify-content: space-between;
}

.achievements .container div.counts>div {
    width: 255px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

}

.achievements .container div.counts>div .text {
    flex-grow: 1;
}

@media (max-width: 1400px) {

    .achievements .container div.content {
        width: 100%;
    }


    .achievements .container div.counts {
        min-width: fit-content;
        /* gap: 20px 30px; */
    }

    /* .achievements .container div.counts>div {
        width: 255px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;

    }

    .achievements .container div.counts>div .text {
        flex-grow: 1;
    } */

}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

/* end achievements section */
/* start customers section */
.customers {
    width: 100%;
    background-color: var(--silver-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.customers .container {
    gap: 70px;
    /* flex-wrap: wrap; */
}

/* .customers .container .image {
    width: 30%;
    min-width: 200px;
}

.customers .container .image img {
    max-width: 100%;
    height: auto;
} */

.customers .container .content {
    flex-shrink: 1;
    width: 70%;
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.customers .container .content .customer {
    justify-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.customers .container .content .customer a:last-child {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}

/* .customers .container .content .customer a {
    width: 10%;
    min-width: 48px;
}

.customers .container .content .customer a img {
    max-width: 100%;
    height: auto;
} */
@media (max-width: 1200px) {

    .customers .container {
        flex-wrap: wrap;
    }

    .customers .container .image {
        width: 100%;
    }

    .customers .container .content {
        width: 100%;
        height: auto;
    }

    .customers .container .content .customer a img {
        width: 32px;
        height: auto;
    }

    .customers .container .content .customer a:last-child {
        font-size: 16px;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .customers .container {
        flex-wrap: wrap;
        gap: 40px;
    }

    .customers .container .image img {
        width: 30%;
        min-width: 150px;
        height: auto;
    }

    .customers .container .content {
        min-width: 300px;
    }


    .customers .container .content .customer {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {}

/* end customers section */
/* start commuity2 section */
.community2 {
    width: 100%;
    /* height: 190px; */
}

.community2 .container {
    flex-direction: column;
    align-items: center;

}

.community2 .container h2 {
    text-align: center;
}

.community2 .container p {
    text-align: center;
    width: 50%;
}

.community2 .container .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 20px;
}

.community2 .container .cards .card {
    width: 350px;
    /* height: 366px; */
    padding: 0;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(171, 190, 209, 0.2); */
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
}

.community2 .container .cards .card .top {
    width: 100%;
    height: auto;
}

.community2 .container .cards .card .top img {
    max-width: 100%;
    height: auto;
}



.community2 .container .cards .card .bottom {
    width: 85%;
    height: fit-content;
    text-align: center;
    padding: 16px;
    background-color: var(--silver-color);
    transform: translateY(-50px);
    border-radius: 8px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    position: absolute;
    bottom: -100px;
    justify-content: space-between;
}

.community2 .container .cards .card .bottom h4 {
    text-align: center;
}

.community2 .container .cards .card .bottom a {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

@media (max-width: 1400px) {
    .community2 .container .cards {
        justify-content: center;
        gap: 40px;
    }

    .community2 .container .cards .card {
        width: 300px;
    }

    .community2 .container .cards .card .bottom h4 {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

/* end commuity2 section */
/* start footer */
footer {
    width: 100%;

}

footer .container.top {
    width: 100%;
    height: 300px;
    background-color: var(--silver-color);
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

footer .container.top h1 {
    width: 50%;
    height: 150px;
    text-align: center;
}

footer .container.bottom {
    width: 100%;
    min-height: 330px;
    text-align: center;
    background-color: var(--black-color);
    padding: 64px 10%;
    color: var(--white-color);
    gap: 40px;
    justify-content: space-between;
}

footer .container.bottom .company-info {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
}

footer .container.bottom .company-info .social-links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

footer .container.bottom .company-info .social-links a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: hsla(0, 0%, 100%, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

footer .container.bottom .company-info .social-links a:hover svg path {
    fill: var(--color);
    transition: 0.5s;
}

footer .container.bottom .links {
    width: 60%;
    min-width: 600px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 30px;
}

footer .container.bottom .links div.col {
    min-width: 160px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

footer .container.bottom .links div.col h4 {
    margin-bottom: 24px;
}

footer .container.bottom .links div.col:last-child {
    flex-grow: 1;
}

footer .container.bottom .links div.col form {
    width: 100%;
    position: relative;
}

footer .container.bottom .links div.col form input {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    height: 40px;
    background-color: hsla(0, 0%, 100%, 0.2);
    border: none;
    outline: none;
    padding: 0 40px 0 10px;
    border-radius: 8px;
    color: #FFFFFF;
}

footer .container.bottom .links div.col form button {
    width: 20px;
    height: 20px;
    background-color: hsla(0, 0%, 100%, 0);
    border: none;
    outline: none;
    /* padding: 0 70px 0 10px; */
    /* border-radius: 8px; */
    color: #FFFFFF;
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
}

footer .container.bottom .links div.col form button::placeholder {
    color: #FFFFFF;
}

@media (max-width: 1400px) {
    footer .container.top h1 {
        font-size: 44px;
    }
}

@media (max-width: 1200px) {
    footer .container.bottom {
        flex-direction: column-reverse;
        row-gap: 70px;
    }


    footer .container.bottom .company-info {
        width: 100%;
    }

    footer .container.bottom .links {
        width: 100%;
    }
}

@media (max-width: 992px) {
    footer .container.top h1 {
        width: 80%;
        font-size: 32px;
    }

}

@media (max-width: 768px) {
    footer .container.bottom .links {
        min-width: 0;

        flex-direction: column-reverse;
    }

    footer .container.bottom .links div.col form input {
        max-width: 100%;
    }
}

@media (max-width: 576px) {}

/* end footer */
/* media quiery */
@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}